:root {
  --tooltip-bg: #efefef;
  --tooltip-color: #000;
  --tooltip-padding: 8px;
  --tooltip-radius: 6px;
}

.ngx-tooltip {
  position: relative;
  background-color: var(--tooltip-bg, #000);
  color: var(--tooltip-color, #fff);
  padding: var(--tooltip-padding, 8px);
  border-radius: var(--tooltip-radius, 6px);

  &.bottom {
    margin-top: 5px;
  }

  &.top {
    margin-bottom: 5px;
  }

  &.right {
    margin-left: 5px;
  }

  &.left {
    margin-right: 5px;
  }
}

.ngx-arrow {
  position: absolute;

  &.bottom,
  &.top {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: calc(50% - 2.5px);
  }

  &.bottom {
    border-bottom: 5px solid var(--tooltip-bg, #000);
    top: -5px;
  }

  &.top {
    border-top: 5px solid var(--tooltip-bg, #000);
    bottom: -5px;
  }

  &.left,
  &.right {
    width: 0;
    height: 0;
    top: calc(50% - 5px);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  &.right {
    border-right: 5px solid var(--tooltip-bg, #000);
    left: -5px;
  }

  &.left {
    border-left: 5px solid var(--tooltip-bg, #000);
    right: -5px;
  }
}
